/* ==============PROFILE-PAGE================ */

.profile-main {
    flex-basis: 73%;
}

.profile-sidebar {
    flex-basis: 25%;
    align-self: flex-start;
    position: sticky;
    top: 73px;
}

.profile-container {
    background: var(--color-white);
}

.profile-container-inner {
    padding: 0 4% 10px;
}

.profile-pic {
    width: 150px;
    border-radius: 50%;
    margin-top: -75px;
    padding: 5px;
    background: var(--color-white);
}

.profile-titulo{
    padding: 15px;
}

.profile-titulo h2 {
    margin-bottom: 10px;
}

.profile-container h2 {
    font-size: 28px;
    font-weight: 600;
    color: var(--color-danger);
    
}

.profile-container {
    border-radius: 10px;
}

.profile-container b {
    font-weight: 500;
    
}

.profile-container p {
    margin-top: 5px;
}

.profile-container p a {
    color: var(--color-primary);
    font-weight: 500;
}

.mutual-connection {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.mutual-connection img {
    width: 30px;
    border-radius: 50%;
    margin-right: 5px;
}

.profile-btn {
    margin: 20px 0;
}

.profile-btn a {
    display: inline-flex;
    align-items: center;
    background: #e4e6eb;
    padding: 6px 15px;
    border-radius: 4px;
    margin-right: 10px;
}

.profile-btn img {
    width: 18px;
    margin-right: 5px;
}

.profile-btn .primary-btn {
    background: var(--color-danger);
    color: var(--color-white);
}

.profile-description {
    background: var(--color-white);
    padding: 20px 4% 30px;
    margin: 12px 0;
    border-radius: 10px;

}

.profile-description h2 {
    color: var(--color-danger);
    margin: 10px 0 20px;
    font-weight: 600;
}

.see-more-link {
    display: block;
    text-align: right;
    font-size: 15px;
}

.profile-desc-row {
    display: flex;
    align-items: flex-start;
    margin: 20px 0;
}

.profile-desc-row img {
    width: 70px;
    margin-right: 25px;
    margin-top: 5px;
}

.profile-desc-row div {
    width: 100%;
}

.profile-desc-row h3 {
    font-size: 18px;
    font-weight: 600;
    color: var(--color-danger);
}

.profile-desc-row b {
    display: block;
    font-size: 15px;
    font-weight: 500;
}

.profile-desc-row p {
    margin-top: 15px;
}

.profile-desc-row  hr {
    border: 0;
    border-bottom: 1px solid var(--color-danger);
    margin-top: 10px;
}

.experience-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    font-weight: 500;
}

.experience-link img {
    width: 20px;
    margin-left: 8px;
}

.skills-btn {
    display: inline-block;
    margin: 10px 5px;
    padding: 6px 18px;
    border: 1px solid var(--color-primary);
    border-radius: 30px;
    font-size: 12px;
    font-weight: 500;
    color: var(--color-primary);
}

.language-btn {
    display: inline-block;
    margin: 10px 5px;
    padding: 6px 18px;
    background: var(--color-primary);
    font-size: 12px;
    font-weight: 500;
    color: var(--color-white);
}

/* ===============PROFILE-RIGHT-SIDEBAR================= */
.profile-sidebar .sidebar-ad {
    margin: 0;
}

.sidebar-people {
    background: var(--color-white);
    padding: 15px 25px;
    margin: 12px 0;
    font-size: 12px;
    border-radius: 10px;
}

.sidebar-people h3 {
    font-size: 16px;
    font-weight: 600;
    margin: 10px 0 20px;
    
}

.sidebar-people-row {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 6px 0;
}

.sidebar-people-row img {
    width: 100%;
    height: 150px;
    border-radius: 15px;
    margin-right: 8px;
    margin-top: 5px;
}

.sidebar-people-row h2 {
    font-weight: 500;
    font-size: 16px;
}

.sidebar-people-row a {
    display: inline-block;
    margin: 10px 0;
    padding: 5px 25px;
    border: 1px solid var(--color-primary);
    border-radius: 30px;
    font-weight: 500;
    color: var(--color-primary);
}

.profile-footer {
    padding: 0 6% 30px;
}

.profile-footer .sidebar-useful-links {
    text-align: left;
    padding: 0;
}

.profile-footer .copyright-msg {
    justify-content: flex-start;
}


.post-container {
    max-width: 700px;
    margin: auto;
    width: 100%;
}

.post-perfil {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    border: 1px solid rgb(160, 160, 160);
    border-radius: 10px;
}

.post-perfil img {
    width: 150px;
    border-radius: 50%;
    padding: 15px;
}

.post-perfil-nome h3 {
    margin-bottom: 15px;
}



@media screen and (max-width: 600px){
    .profile-main {
        padding: 0;
    }

    .profile-main, .profile-sidebar {
        flex-basis: 100%;
    }

    .profile-container {
        font-size: 14px;
    }

    .profile-pic {
        width: 100px;
        margin-top: -50px;
    }

    .profile-description {
        font-size: 14px;
    }

    .profile-container-inner p {
        font-size: 18px;
        color: rgb(110, 110, 110);
    }

    .post-container {
        padding: 20px;
    }

    .post-perfil {
        flex-direction: column;
        text-align: center;
        padding: 15px;
    }
}