/* ===========RIGHT-SIDEBAR============= */

.right-sidebar {
    flex-basis: 25%;
    align-self: flex-start;
    position: sticky;
    top: 73px;
}

.sidebar-news {
    background: var(--color-white);
    padding: 10px 25px;
}

.info-icon {
    width: 15px;
    float: right;
    margin-top: 15px;
}

.sidebar-news h3 {
    font-size: 18px;
    font-weight: 600;
    color: var(--color-dark);
    margin: 10px 0 30px;
}

.sidebar-news a {
    display: block;
    font-size: 12px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: -5px;
}

.sidebar-news span {
    font-size: 12px;
}

.sidebar-news .read-more-link {
    color: var(--color-primary);
    font-weight: 500;
    margin: 20px 0 10px;
}

.sidebar-ad {
    background: var(--color-white);
    padding: 15px 25px;
    text-align: center;
    margin: 12px 0;
    font-size: 12px;
    border-radius: 10px;
}

.sidebar-ad img {
    width: 60px;
    border-radius: 50%;
    margin: 4px;
}

.sidebar-ad small {
    float: right;
    font-weight: 500;
}

.sidebar-ad p {
    margin-top: 30px;
    margin-bottom: 10px;
}
.sidebar-ad b {
    display: block;
    font-weight: 500;
    margin-top: 10px;
}

.ad-link {
    display: inline-block;
    border: 1px solid var(--color-primary);
    border-radius: 30px;
    padding: 5px 15px;
    color: var(--color-primary);
    margin: 20px auto 10px;
}
.sidebar-useful-links {
    padding: 15px 25px;
    text-align: center;
}

.sidebar-useful-links a {
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
}